[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-rest-framework = "*"
requests = "*"
django-widget-tweaks = "*"
django-bleach = "*"

[dev-packages]

[requires]
python_version = "*"
