{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extra_css %}
<style>
  .ql-container.ql-snow{
    border:0px;
    
  }
  .ql-toolbar.ql-snow{
    border-radius: 15px;
  }
</style>
{% endblock %}
{% block content2 %}
<div class="container overflow-auto" style="width: 1000px;">
  <div class="row">
    <a href="/list/{{note.workspace.id}}/">
    <div class="col-12" id="back" style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-start;align-items: center;">
      <lord-icon
    src="https://cdn.lordicon.com/vduvxizq.json"
    trigger="loop-on-hover"
    target="#back"
    style="width:25px;height:25px; transform:rotate(180deg);margin-top: 15px;" >
  </lord-icon>
  <h2 style="margin-top: 20px; margin-bottom: 10px;">
 {{note.workspace|title}}</h2>
  </div></a>
  </div>
  <hr>
  <form id="noteForm" method="post" action="#">
    
    {% render_field form.title class="form-control" style="font-weight: bold;font-size: 18px;margin-top: 30px;margin-bottom: 30px;     border: transparent;" %}
    <div class="row" style="gap: 10px;font-size: 10px;">
      <div class="col-12"><p>Created By</p>{{users.username}}</div>
      <div class="col-12" style="
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
  "><p>Last Modified:</p><p>{{lastupdate}}<p></div>
    </div>
    <div id="quill-editor">{{ form.content }}</div>
    <input type="hidden" name="content" id="quill-content-field">

    {% render_field form.workspace class="form-control d-none" %}
    trashed:{% render_field form.trashed  %}
   
  </form>
</div>
{% endblock %}
{% block extra_js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var quill = new Quill('#quill-editor', {
      theme: 'snow',
      modules: {
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'],        
          ['blockquote', 'code-block'],
          [{ 'header': 1 }, { 'header': 2 }],
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          [{ 'script': 'sub' }, { 'script': 'super' }],
          [{ 'indent': '-1' }, { 'indent': '+1' }],
          [{ 'direction': 'rtl' }],
          [{ 'size': ['small', false, 'large', 'huge'] }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'font': [] }],
          [{ 'align': [] }],
          ['clean']
        ]
      }
    });
    quill.root.innerHTML = "{{ form.content.value }}";
    quill.on('text-change', function(delta, oldDelta, source) {
      autosave();
  });
 
  $(document).ready(function() {
    
    $('#noteForm input, #noteForm textarea').on('input', function() {
      autosave();
    });
  });
  function autosave() {
  
    var formData = $('#noteForm').serialize();
    formData += '&content=' + encodeURIComponent(quill.root.innerHTML);

    $.ajax({
      type: 'PUT',
      url: '/api/v2/notes/{{note.id}}/',
      data: formData,
      headers: {
        "X-CSRFToken": "{{csrf_token }}"
      },
      success: function(response) {
        console.log('Autosave successful');
      },
      error: function(error) {
        console.error('Autosave failed', error);
      }
    });
  }
});

</script>
{% endblock %}
