{% load static %}
{% load widget_tweaks %}
{% block extra_css %}
<style>
  .ql-container.ql-snow{
    border:0px;
    
  }
  .ql-toolbar.ql-snow{
    border-radius: 10px;
    padding: 3px;
  }
</style>
{% endblock %}
<div class="container overflow-auto" style="width: 1500px;">
  <div class="row">
    <div class="col-12" id="back" style="display:flex;flex-direction:row;flex-wrap:nowrap;align-content:center;justify-content: space-between;align-items:center">
        <a href="/list/{{noteworkspaceid}}/">
        <lord-icon src="https://cdn.lordicon.com/vduvxizq.json" trigger="loop-on-hover" target="#back" style="width:25px;height:25px;transform:rotate(180deg);margin-top:15px"></lord-icon>
         </a>
        <h4 style="margin-top:20px;margin-bottom:10px">{{noteworkspace|title}}</h4>
        <div style="
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        gap: 15px;
    ">
        <lord-icon  src="https://cdn.lordicon.com/wpyrrmcq.json" trigger="morph"  style="width:25px;height:25px;margin-top:20px;margin-bottom:10px"></lord-icon>
        <lord-icon src="https://cdn.lordicon.com/vfczflna.json" trigger="loop" delay="3000" style="width:25px;height:25px;margin-top:15px; "   stroke="bold" colors="primary:#121331,secondary:#b4b4b4"></lord-icon>
        <lord-icon
    src="https://cdn.lordicon.com/axteoudt.json"
    trigger="loop-on-hover"
    delay="500"
    style="width:25px;height:25px;margin-top:20px;margin-bottom:10px">
</lord-icon>
        </div>
      </div>
  </div>
  <hr>
  <form id="noteForm" method="post" action="#">
    
    {% render_field form.title class="form-control" style="font-weight: bold;font-size: 18px;margin-top: 20px;margin-bottom: 20px;     border: transparent;" %}
    <div class="row" style="font-size: 10px;">
      <div class="col-12" style="
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 23px; 
  "><p>Created By:</p><p id="user" style="
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 5px;
  align-items: center;
"><lord-icon
    src="https://cdn.lordicon.com/kthelypq.json"
    trigger="loop-on-hover"
    target="#user"
    style="width:15px;height:15px">
</lord-icon> {{user}}</p></div>
      <div class="col-12" style="
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 10px; 
  "></div>
    </div>
    <div id="quill-editor">{{ form.content.value }}</div>
    <input type="hidden" name="content" id="quill-content-field">

    {% render_field form.workspace class="form-control " %}
    {% render_field form.trashed id="trashed" class="" option="1"  %}
    {% render_field form.author  class=""  %}
  
  </form>
</div>

{% block extra_js %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script> {% endcomment %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var quill = new Quill('#quill-editor', {
      theme: 'snow',
      placeholder: 'Compose an epic...',
      modules: {
        toolbar: [
       // [{ 'font': [] }],
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          ['bold', 'italic', 'underline', 'strike'],
          //[{ 'align': [] }],
              
          //['blockquote', 'code-block'],
          //[],
          ['blockquote', 'formula', 'code-block'],
         // [{ 'header': 1 }, { 'header': 2 }],
        // [{ 'script': 'sub' }, { 'script': 'super' }],
         [{ 'list': 'ordered' }, { 'list': 'bullet' }],
         // [{ 'indent': '-1' }, { 'indent': '+1' }],
          //[{ 'direction': 'rtl' }],
         [{ 'color': [] }, { 'background': [] }],
          ['clean']
        ]
      },
      formats: [
          'bold', 'italic', 'underline', 'strike', 'blockquote',
          'header', 'list', 'indent', 'script', 'direction',
          'size', 'color', 'background', 'font', 'align', 'formula', 'code-block',
      ],
     
    });
    //quill.root.innerHTML = `{{ form.content.value|linebreaksbr|safe }}`;
    quill.on('text-change', function(delta, oldDelta, source) {
      autosave();
  });
 
  $(document).ready(function() {
    
    $('#noteForm input, #noteForm textarea').on('input', function() {
      autosave();
     // refreshWorkspace();
    });
  });
  function autosave() {
  
    var formData = $('#noteForm').serialize();
    formData += '&content=' + encodeURIComponent(quill.root.innerHTML);

    $.ajax({
      type: 'POST',
      url: '/api/v2/notes/',
      data: formData,
      headers: {
        "X-CSRFToken": "{{csrf_token }}"
      },
      success: function(response) {
       console.log("success", response.id)
      },
      error: function(error) {
        console.error('Error fetching content data:', error);
      }
    });
  }
});

</script>
{% endblock %}
